 .falcon9  { 
	position:absolute; left:315px; top:15.5px; font-size:100%; font-family: "century gothic"; color: #FFFFFF; z-index:3;
}
.falconheavy {
	position:absolute; left:420px; top:15.5px; 
	font-size:100%; 
	font-family: "century gothic"; 
	color: #FACC2E;
	text-decoration: underline;
}
.dragon {
	position:absolute; left:570px; top:15.5px; font-size:100%; font-family: "century gothic"; color: #FFFFFF;
}
.updates {
	position:absolute; left:675px; top:15.5px; font-size:100%; font-family: "century gothic"; color: #FFFFFF;
}
h1 {
	position:absolute; left:150px; top:-13px; color: #FFFFFF;
}
body {
	background-color: black;
}
.spacex {
	position:absolute; top:-38.5px; left:75px; z-index: 1;
}
.fheavy {
	position:absolute; top:75px; left:0px; z-index: 2;
}
.p { 
	z-index: 3;
	position:absolute; left:500px; top:162px;
	color:#FFFFFF; font-size:50px; font-family: "century gothic";
	text-align:center;
}
.play {
	position: relative;
	left: 645.5px; top:380px;
	z-index: 4;
	
}
.about {
	position:absolute;
	left:945px;
	top:18px;
	color:#848484;
	font-size:80%;
	font-family: "century gothic";
}
.careers {
	position:absolute;
	top:18px;
	left:1057px;
	color:#848484;
	font-size:80%;
	font-family: "century gothic";
}
.press {
	position:absolute;
	top:18px;
	left:1140px;
	color:#848484;
	font-size:80%;
	font-family: "century gothic";
}
.shop {
	position:absolute;
	top:18px;
	left:1200px;
	color:#848484;
	font-size:80%;
	font-family: "century gothic";
}
.p2 {
		font-size:55px; font-family:helvetica;
		position:absolute;
		top:560px;
		left:190px;
		color:#FFFFFF;
		z-index:5;
}
.p3 {
		font-size:10px;
		position:absolute;
		top:680px;
		left:190px;
		color:#848484;
		z-index:5;
	
}
.razzo { position:absolute;
	top:590px;
	left:950px;
	z-index:5;
}
.p4{
	font-size:16px;
	font-family:helvetica;
	position:absolute;
	top:700px;
	left:190px;
	color:#848484;
	z-index:5;
}
.p5{
	font-size:16px;
	font-family:helvetica;
	position:absolute;
	top:700px;
	left:560px;
	color:#848484;
	z-index:5;
}
.space {
	position:absolute;
	top:630px;
	left:1020px;
	z-index:5;
}